<div>
  <h1 class="font-bold text-4xl">Branchoffices#home</h1>
  <p>Find me in app/views/branchoffices/home.html.erb</p>
  <%= link_to "Crear Sucursal",branchoffice_new_path , class:"text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"%>
  <% @branch_offices.each do |branchoffice| %>
        <div>
        <%= branchoffice %>
        </div>
    <% end %>
</div>
