<div class="block h-96 w-86 p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 my-12">
    <h2 class="text-3xl mb-6"> Nuevo Usuario </h2>
    <%= render "users/form", user: @user , url: "/users" %>
    <% flash.each do |type, msg| %>
        <% if type == "alert"%>
        <div class="flex justify-center text-red-700 font-bold text-xl">
            <%= msg %>
        </div>
        <% else %>
            <div class="flex justify-center text-green-700 font-bold text-xl">
                <%= msg %>
            </div>
        <% end %>
    <% end %>
</div>
